body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}
select, input[type="text"], button, textarea {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #424242;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #616161;
    box-sizing: border-box;
}
button {
    background-color: #1976d2;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #1565c0;
}
textarea {
    resize: vertical;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    min-height: 500px;
}

#copyButton {
    background-color: #4CAF50;
}
#copyButton:hover {
    background-color: #45a049;
}

